body {
  background-color: #001111;
  font-family: monospace;
}

/* ------------------------------- FOOTER CSS ------------------------------- */
.footer {
  text-align: right;
  color: ghostwhite;
  width: 100%;
  height: 44px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #000;
  border-top: 1px solid #444;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 20;
}

#githublogo {
  height: 36px;
  width: 36px;
  fill: ghostwhite;
}

#vuejslogo {
  height: 36px;
}

.footer .contacts {
  float: right;
  margin-right: 20px;
}

.footer .contacts p {
  line-height: 20px; 
  margin-top: 8px;
  /* for footer text: */
  color: white;
}

/* ------------------------ icons-attribution el CSS ------------------------ */
#flaticonlogo {
  height: 36px;
}

.icons-attribution {
  position: sticky;
  bottom: 100px;
  left: 0px;
  text-align: right;
  font-size: 10px;
  color: #666;
}

.icons-attribution a {
  text-decoration: none; /* no underline link on hover */
  color: rgba(163, 252, 83, .75); /* same color of flaticon logo */
}

.sub-icons-attr p {
  line-height: 10px;
  padding-top: 13px;
}

.sub-icons-attr { /* make image aside div with attributions */
  display: inline-block;
  float: left;
  margin-left: 10px;
}

/* ------------------------------- NAVBAR CSS ------------------------------- */
.navbar {
  width: 100%;
  display: flex;
  background: #000;
  border-bottom: 1px solid #444;
  margin-bottom: 16px;
}

.navbar .nav-link {
  width: 150px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
}

.navbar .nav-link {
  background-color: #222;
}

.navbar .nav-link:hover {
  background-color: #333;
}

.navbar .nav-link p {
  color: ghostwhite;
  margin-bottom: 0px;
}

/* these element ids are defined in vue component ascii-nav-link */
#ascii-blackjack-icon, #ascii-tetris-icon {
  height: 56px;
  width: 56px;
  fill: ghostwhite;
}
