body {
  background-color: #000;
  font-family: monospace;
}

pre {
  color: #0a0;
}

input, button { 
  outline: none;
}

.game-container { 
  text-align: center;
}

.game-intro {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.game-intro pre {
  display: inline-block;
  text-align: left;
  line-height: normal;
}

#start-container {
  position: relative; /* for absolute child element */
  display: inline-block; /* to take the width of the input */
}

#commands-in {
  text-align: left;
  width: 100%;
  height: 100%; /* added to match the height of the #click div */
  outline: 0; /* to remove outline when focused */
  z-index: 900;
}

#commands-in input {
  border: 2px #0a0 solid;
  background: rgba(0,0,0,0);
  width: 100%;
  height: 100%; 
}

#start-div {
  width: 100%;
  height: 100%;
  position: absolute; /* to align it to right and positon it over the input */
  top: 0;
  right: 0;
  z-index: -2;
}

#color-picker {
  width: 85%; 
  background-color: black;
}

/* ------------------------------- FOOTER CSS ------------------------------- */
.footer {
  text-align: right;
  color: ghostwhite;
  width: 100%;
  height: 44px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: black;
  border-top: 1px solid #444;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

#githublogo {
  height: 36px;
  width: 36px;
  fill: ghostwhite;
}

.footer .contacts {
  float: right;
  margin-right: 20px;
}

.footer .contacts p {
  line-height: 20px; 
  margin-top: 8px;
  /* for footer text: */
  color: white;
}

/* ------------------------------- NAVBAR CSS ------------------------------- */
.navbar {
  width: 100%;
  display: flex;

}

.navbar .nav-link {
  width: 150px;
  text-align: center;
  margin-left: 20px;
  flex-grow: 1;
}

.navbar .nav-link p {
  color: #0a0;
}

/* these element ids are defined in vue component ascii-nav-link */
#ascii-blackjack-icon, #ascii-tetris-icon {
  height: 56px;
  width: 56px;
  fill: #0a0;
}
