body {
  background-color: #000;
  font-family: monospace;
}

pre {
  color: #0a0;
}

textarea {
  background-color: #000;
  border: 0px solid #000;
  color: green;
  font-family: monospace;
}

textarea, input, button { outline: none; }

.game-container { 
  text-align: center;
}

.game-intro {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.game-intro pre {
  display: inline-block;
  text-align: left;
}